@page "{routeName?}"
@model Personal_Portfolio_Razor.Pages.BlogDetailsModel
@{
}

@* <div class="text-center">
    <h2>@Model.blog.title</h2> *@


    <div class="d-flex flex-column min-vh-100 justify-con/tent-center align-items-center">
      <h2>@Model.blog.title</h2>
      <hr/>
      <div>
          @Model.blog.fullDesc
      </div>

      @if (Model.blog.videoUrls is not null)
      {
        @foreach (var videoUrlModel in @Model.blog.videoUrls)
        {
          <div class="video-player">
            <iframe class="embedded-video" src="@videoUrlModel.url" title="@videoUrlModel.title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        }
      }
    </div>
    <hr/>
</div>
